.herosection {
  height: 90vh;
  background: url("/front-page-equi.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.clubSection {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.clubSection h3 {
  font-size: 23px;
}
.clubSection p {
  font-size: 18px;
}
.clubCards {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1520px;
  flex-wrap: wrap;
  padding: 20px 0;
}
.clubCards .card {
  position: relative;
  min-width: 320px;
  height: 300px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px -5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.5), -5px -5px -5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 30px;
}

.clubCards .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #ebf5fc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.clubCards .card:hover .box {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.clubImage {
  max-height: 180px;
  border-radius: 10%;
}

.content h3 {
  text-align: center;
}
